<%- include("header") -%>


<h2>This is the about page</h2>

<p>sgsgss sgsgsgs  sggsggsgs sfsggsggsgs sgsgsggss fsfggsgs ssgghss gsgsggsshs gsggsgs  ggsghshh ggdhsssn ggsg </p>


<%- include("footer") -%>
